

mat-icon{
  font-size: 52px;
  position: absolute;
  margin-top: -70px;
  margin-left: -25.6px;
}

.circle{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-top: -77px;
  margin-left: -32px;
  background-color: #d32f2f;
}

#info{
  margin-top: -71px;
}

button{
  border: none;
  padding: 5px;
}
