<app-header></app-header>
<app-admin-navigation></app-admin-navigation>
<form [formGroup]="formGroup" (ngSubmit)="addArticle()" action="">
    <!--    <p>Form status: {{ formGroup.status | json }}</p>-->
    <!--    <p>Form errors: {{ formGroup.errors | json }}</p>-->
    <!--    <p>Form value: {{ formGroup.value | json }}</p>-->

    <label id="picture-label" for="altImgName">Picture *</label>
    <div class="dnd-box">
        <input type="file" (change)="onFileChange($event)" id="fileDrop">
        <div class="when-uploaded" *ngIf="isUploaded">
            <img [src]="uploadedImgUrl" class="upload-icon"  alt=""/>
        </div>
        <div *ngIf="!isUploaded" class="dnd-msg">
            <img src="assets/img/dd_camera.svg" alt="Upload camera">
            <p>
                <label class="text-danger" for="fileDrop">+Add picture</label> or drop it right here
            </p>
            <p>You can add next formats: png. jpg. jpeg. tif</p>
        </div>
    </div>

    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col">
                <label for="conferenceSelect">Conference</label>
                <select name="conference" id="conferenceSelect">
                    <option>Not Selected</option>
                </select>
            </div>
            <div class="col">
                <label for="teamSelect">Team</label>
                <select name="team" id="teamSelect">
                    <!-- <option>Not Selected</option> -->
                    <option *ngFor="let category of categories">
                        {{category}}
                    </option>
                </select>
            </div>
            <div class="col">
                <label for="locationSelect">Location</label>
                <select name="location" id="locationSelect">
                    <option>Not Selected</option>
                </select>
            </div>
        </div>

        <label for="altImgName">Alt. *</label>
        <input id="altImgName" type="text" formControlName="altImgName" placeholder="Alternative text for picture">

        <label for="headline">Article Headline *</label>
        <input id="headline" type="text" formControlName="title" placeholder="Name">
        <div *ngIf="f.title.touched && f.title.errors" class="validation-danger">
            <!--            <div *ngIf="f.title.errors.required">This field is required</div>-->
        </div>

        <label for="caption">Caption *</label>
        <input id="caption" type="text" formControlName="caption" placeholder="Name">

        <label for="description">Сontent *</label>
        <div class="text-format-tool">
            <ul class="hr">
                <li>h1</li>
                <li>h2</li>
                <li>p</li>
            </ul>
            <ul class="hr">
                <li class="font-weight-bold">b</li>
                <li class="font-italic">i</li>
                <li>u</li>
            </ul>
            <ul class="hr">
                <li><img src="assets/img/left-text-alignment-option.svg" alt="Align left"
                         class="filter-grey flip-hor"></li>
                <li><img src="assets/img/centered-text-of-alignment-button.svg" alt="Align left"
                         class="filter-grey flip-hor">
                </li>
                <li><img src="assets/img/right-text-alignment.svg" alt="Align left" class="filter-grey flip-hor"></li>
            </ul>
            <ul class="hr">
                <li><img src="assets/img/bullets.svg" alt="Align left" class="filter-grey"></li>
                <li><img src="assets/img/list.svg" alt="Align left" class="filter-grey"></li>
            </ul>
        </div>

        <textarea name="description" id="description" formControlName="description"
                  placeholder="Please add text here"></textarea>

        <div class="custom-control custom-switch align-middle">
            <input type="checkbox" class="custom-control-input" id="commentsSwitch" formControlName="showComments">
            <label class="custom-control-label" for="commentsSwitch">Show comments</label>
        </div>
        <div class="text-center">
            <button [disabled]="formGroup.invalid" class="btn btn-danger rounded-0" type="submit">Save</button>
        </div>
    </div>
</form>
