$cbg-color: white;

.banner-list{
  background-color: #f2f2f2;
  width: 55%;
  margin-left: 15%;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1px;
}
.banner-list-menu{
  width: 55%;
  margin-left: 15%;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1px;
}
.banner-list-title p{
  padding-left: 5%;
  display: inline;
  font-weight: 600;
  font-size: 12px;
  height: auto;
  color: #434c5d;
  letter-spacing: 0.5px;
}
.open-closed-button{
  right: 5%;
  bottom: 9%;
  background: $cbg-color;
  color: #7f8899;
  border: 0;
  height: 33px;
  width: auto;
  margin-right: 20px;
  font-size: 11px;
  display: inline;
}

.width-45{
  width: 45%;
}

.active {
  color: red;
  text-decoration: underline 2px red;
}
.search-input{
  width: auto;
  display: inline;
  height: 30px;
  border: none;
  border-radius: 0;
  font-size: 12px;
  padding: 5px;
}

.custom-svg-inline--fa {
  display: inline;
  font-size: inherit;
  height: 25px;
  overflow: visible;
  vertical-align: -0.125em;
  color: #7f8899;
  border: none;
  background-color: white;
}

.filter-button{
  display: inline;
  font-size: inherit;
  height: 15px;
  overflow: visible;
  vertical-align: -0.125em;
  color: #7f8899;
  border: none;
  background-color: #f2f2f2;
}

.banner-search-area{
  border: solid 1px #d4d9e2;
}

.select-form{
  width: auto;
}

.mat-select {
  width: 10%;
}

.mat-option.mat-active {
  color: red;
  background-color: #fbe7e8;
}

.sort-by-title{
  margin: 4px;
  font-weight: bolder;
} hr {
  margin: 4px 0;
  height: 1px;
  border-top: none;
}

.search-div {
  padding: 5px;
  width: 45%;

  .input-div {
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: center;

    input[type=search] {
      width: 90%;
      outline: none;
      border: none;
    }
    span{
      color: #999999;
    }
  }
}
