<div class="banner-list-menu mb-2">
    <button class="open-closed-button"
           [ngClass]="{'active': status === selectedStatus}"
           *ngFor="let status of statuses"
           (click)="getBannersByStatus(status)">
       {{status | uppercase}}
   </button>
</div>
<div class="container banner-list">
    <div class="banner-list-title h-100 pt-3 pb-4 mb-3">
        <div class="float-left w-50">
            <p>BANNER NAME</p>
        </div>
        <div class="float-right w-50">
            <div class="width-45 d-inline-flex">
                <p>STATUS</p>
            </div>
            <div class="width-45 d-inline-flex">
                <p>PUBLISHED IN</p>
            </div>
        </div>
    </div>
    <div class="row d-block">
        <div *ngFor="let b of banners; let i = index" class="pl-0 pr-0">
            <app-banner-item (bannerDeleted)="onBannerDeleted(i)" [banner]="b" (bannerChange)="configureBanner($event)" (click)="selectBannerAt(i)"></app-banner-item>
        </div>
    </div>
</div>

