<app-header></app-header>
<app-navigation></app-navigation>
<app-footer></app-footer>
<div class="container-fluid m-auto photo" *ngIf="photo.isShown">
    <div [ngStyle]="{'background-image': 'url(' + '../../../../assets/photo/' + photo.photoUrl + ')'}" class="image">
        <div class="upload-icon">
            <p>photo of the day</p>
        </div>
    </div>
    <ul id="lowerleft">
        <li id="photoTitle">{{photo.photoTitle}}</li>
        <li id="description">{{photo.description}}</li>
        <li id="author">{{photo.author}}</li>
    </ul>
</div>
