.container-fluid {
  width: max-content;
  margin-left: 253px;
}

.image {
  width: 815px;
  height: 577px;

  .upload-icon {
    background: url("../../../../assets/Triangle.svg") no-repeat top left;
    width: 169px;
    height: 123px;
    top: -20px;
    left: -20px;
  }
}

.info {
  list-style-type: none;
  color: #FFFFFF;
  bottom: -350px;
}

.bottom-left {
  bottom: 8px;
  left: 16px;
}

#photoTitle {
  font-size: 22px;
  line-height: 30px;
}

#description {
  font-size: 14px;
  line-height: 19px;
}

#author {
  font-size: 14px;
  line-height: 19px;
}
