<!--<app-header></app-header>-->
<div class="header bg-danger"></div>
<app-navigation></app-navigation>

<div class="bg-caption">
    all
</div>

<div class="content-container">
    <div class="main-article" *ngIf="articles[0]">
        <!--    {{articles[0]?.title}}-->
        <!--    <img src="{{articles[0]?.imageName}}" alt="">-->
        <div class="img-container">
            <img src="assets/img/basketball.PNG" alt="">
<!--            <div class="corner-link">{{articles[0]?.category.name}}}</div>-->
            <div class="corner-link">NBA</div>
        </div>
    </div>

    <!--container-fluid ml-0-->
    <div class="content">
        <div class="article-col-container" *ngFor="let article of articles | slice:0">
            <div class="img-container"><img src="assets/img/football.PNG" alt=""></div>
            <div class="title">{{article.title}}</div>
            <div class="description">{{article.description}}</div>
        </div>
    </div>
</div>
<!--<app-footer></app-footer>-->
