<footer class="container-fluid bg-danger">
        <div class="row p-3">
            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                <h3 class="text-white">Sport Hub</h3>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-6 col-sm-12 text-xl-end text-lg-end text-md-end text-sm-start text-start">
                <p class="p-0 m-0 text-white" style="font-size: 10px">Copyright &copy;2021 Sport Hub</p>
                <a href="#" class="nav-link text-white text-xl-end text-lg-end text-md-end text-sm-start text-start p-0" style="font-size: 10px">Privacy/Terms</a>
            </div>
        </div>
</footer>
