<app-header></app-header>
<!--<div class="header bg-danger">Sports Hub</div>-->
<app-navigation></app-navigation>

<div class="content-container width-60 mr-0">
    <div class="main-article" *ngIf="articles[0]">
        <div class="img-container">
            <img src="assets/img/{{articles[0].imagePath}}" alt="">
            <!--            <div class="corner-link">{{articles[0]?.category.name}}}</div>-->
            <div class="corner-link">NBA</div>
        </div>
    </div>

    <!--  REMOVE PADDING  -->
    <div class="content pb-2">
        <div class="article-col-container" *ngFor="let article of articles | slice:1:5">
            <div class="img-container"><img src="assets/img/{{article.imagePath}}" alt=""></div>
            <div class="title">{{article.title}}</div>
            <div class="description">{{article.description}}</div>
            <fa-icon class="a-c-ico" [icon]="arrowRightIco"></fa-icon>
        </div>
    </div>
</div>

<app-banner-list-userside [categoryId]="this.activatedRoute.snapshot.params.id"></app-banner-list-userside>

<app-footer></app-footer>
