<div class="banner-card test" *ngIf="banner">
    <div *ngIf="isEditing else preview">
        <form #editForm="ngForm" (ngSubmit)="editBanner()">
            <div class="form-group">
                <input type="text" [(ngModel)]="banner.title" name="title" class="form-control title-field" id="title"
                    placeholder="Name">
                <div class="dropzone">
<!--                    <img src="../../../../assets/uploaded_images/{{banner.imgPath}}" alt="" />-->
                    <img src="../../../../assets/add_picture.svg" class="upload-icon" alt="" />
                    <input type="file" (change)="handleFileInput($event.target.files);" name="file" id="file"
                        class="upload-input" />
                </div>
            </div>
            <div>
                <button (click)="isEditing = !isEditing; isEditingChange.emit(isEditing)" type="reset" class="cancel-button">Cancel</button>
                <button type="submit" class="save-button" >Save</button>
            </div>
        </form>
        <div class="banner-date inside outside">
            <p>Last updated {{banner.lastUpdated}} </p>
        </div>
    </div>
    <ng-template #preview>
        <div class="banner-title">
            <h6>{{banner.title | uppercase}} </h6>
        </div>
        <div class="img-container">
            <img src="../../../../assets/uploaded_images/{{banner.imgPath}}" alt="" />
        </div>
        <button class="save-button" (click)="isEditing = !isEditing; isEditingChange.emit(isEditing)">Edit</button>
        <div class="banner-date inside outside">
            <p>Last updated {{banner.lastUpdated}} </p>
        </div>
    </ng-template>
</div>
