.photo-info {
  width: 814px;
  height: 42px;
}

.dropzone {
  background-color: rgba(196, 196, 196, 0.08);
  border-radius: 3px;
  text-align: center;
  width: 813px;
  height: 450px;
  border: 1px dashed #D1D1D1;
}

.upload-icon {
  width: 20%;
  height: 20%;
  margin-top: 20%;
}


.upload-input {
  top: -80px;
  left: 0;
  width: 813px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
}

.form-group:focus {
  border: 1px solid #D4D9E2;
  box-sizing: border-box;
}

.form-control {
  border-radius: 0;
  width: 814px;
}

.form-group label {
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.9px;
  color: #7F8899;
  margin-top: 20px;
}

.form-check {
  width: 175px;
  height: 17px;
}

.form-check label {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #2B2F43;
}

.btn {
  border-radius: 0;
  background: #D72130;
  border: 1px solid #C63638;
  box-sizing: border-box;
}
