<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<app-footer></app-footer>
<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Forgot password Page</h2>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">

            <form>
                <div [formGroup]="forgotForm" class="form">
                    <label>Email Address</label>
                    <div class="form-group">
                        <input type="email" formControlName="email" placeholder="Email" class="form-control" id="email">
                    </div>
                </div>
                <p id="text"></p>
                <!--                <button type="submit" class="btn btn-black" id="go" value="Login" (click)="doLogin()">Login</button>-->
                <button type="submit" class="btn btn-secondary" [disabled]="buttonForgot==false"
                        (click)="sendMail()"
                >Send email
                </button>
            </form>
        </div>
    </div>
</div>
