.categories-list{
  background-color: #f2f2f2;
  width: 55%;
  margin-left: 15%;
  margin-right: 0;
  margin-top: 5px;
  padding-bottom: 1px;
}
.predefined-ann p{
  width: 55%;
  margin: 3% 0 0 15%;
  color: #7f8899;
  font-size: 11px;
  font-weight: bold;
}
.predefined-list-title p{
  padding-left: 5%;
  display: inline;
  font-weight: bold;
  font-size: 12px;
  height: auto;
}
