$cbg-color: white;

.categories-list{
  background-color: #f2f2f2;
  width: 55%;
  margin-left: 15%;
  margin-right: 0;
  margin-top: 5px;
  padding-bottom: 1px;
}
.predefined-ann p{
  width: 100%;
  color: #7f8899;
  margin-top: 3%;
  padding-left: 15%;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 450;
  background-color: $cbg-color;
}
.predefined-list-title p{
  padding-left: 5%;
  display: inline;
  font-weight: 600;
  font-size: 12px;
  height: auto;
  color: #434c5d;
  letter-spacing: 0.5px;
}
