.banner-header{
  height: 30px;
  margin: 2.5% 8% 0;
} h4{
  font-weight: bolder;
  font-size: 25px;
  }
  hr {
    color: #ededed;
  }
.add-button{
  right: 5%;
  bottom: 11%;
  background: #d72130;
  color: white;
  border: 0;
  height: 33px;
  width: auto;
  padding: 8px 17px;
  font-size: 13px;
  font-weight: bold;
}
