.banner-card {
  width: 20%;
  margin-right: 7%;
  float: right;
  height: 20vw;
  background-color: #f2f2f2;
} p{
    padding-left: 5%;
    display: inline;
    font-weight: bold;
    font-size: 12px;
  }
