.banner-list{
  width: 300px;
  float: right;
  margin-bottom: 100px;
  display: inline;
  position: relative;
  top: -102%;
  height: 87%;
  overflow: scroll;
  overflow-x: hidden;
  right: 1%;
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
