<header>
		<nav class = "container-fluid row navbar">
			<div class = "col-md-2">
					<button hef = "#" class="home-button" >
              Sport Hub
					</button>
			</div>
			<div class = "col-md-4">
				<input type="text" class="form-control" placeholder = "Search by">
			</div>
			<div class = "col-md-2 btn-block ">
				<label>Share</label>
				<div class = "btn-group share-group">
					<a href="#" class="fa fa-facebook share-button"></a>
          <a href="#" class="fa fa-twitter share-button"></a>
          <a href="#" class="fa fa-instagram share-button"></a>
				</div>
			</div>
			<div class = "col-md-2">
				User
			</div>
			<div class = "col-md-2">
				Language
			</div>
		</nav>
  </header>
