<header>
    <nav class = "container-fluid row navbar navbar-default">
        <div class = "col-md-2">
            <h1 class = "text-nowrap btn-lg nav navbar-nav ">
                <button
                        class="btn btn-primary" >Sport Hub
                </button>
            </h1>
        </div>
        <div class = "col-md-4">
            <label>
                <input class="form-control" placeholder="Search by" type="text">
            </label>
        </div>
        <div class = "col-md-2 btn-block ">
            <label>Share</label>
            <div class = "btn-group" data-toggle ="buttons">
                <button>1</button>
                <button>2</button>
                <button>3</button>
            </div>
        </div>
        <div class = "col-md-2">
            user
        </div>
        <div class = "col-md-2">
            language
        </div>

    </nav>
</header>