.img-container{
  position: fixed;
  height: 200px;
} img{
    width: 250px;
    max-height: 200px;
  }

.banner-card {
  width: 250px;
  margin-right: 7%;
  float: right;
  height: 200px;
  right: 1%;
  margin-bottom: 25px;
}
