<app-footer></app-footer>
<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Registration Page</h2>
        <p>Register from here to access.</p>
    </div>
</div>
<!--<div class="main">-->
<!--<div class="col-md-6 col-sm-12">-->
<!--    <div class="login-form">-->

        <div class="alert alert-danger" *ngIf="registrationForm.controls['username'].errors && submitted">
            <div *ngIf="registrationForm.controls['username'].errors.required">First Name is required</div>
        </div>
        <div class="alert alert-danger" *ngIf="registrationForm.controls['password'].errors  && submitted">
            <div *ngIf="registrationForm.controls['password'].errors.required">Last Name is required</div>
        </div>
        <div class="alert alert-danger" *ngIf="registrationForm.controls['email'].errors  && submitted">
            <div *ngIf="registrationForm.controls['email'].errors.required">Email is required</div>
            <div *ngIf="registrationForm.controls['email'].errors.email">Please Enter Valid Email Format</div>
        </div>
<!--    </div>-->
<!--</div>-->
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form [formGroup]="registrationForm" class="form-signin">

                <div class="form-group">
                    <input type="email" formControlName="email" placeholder="Email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="username" placeholder="username" class="form-control"
                           id="username">
                </div>
                <div class="form-group">

                    <input type="text" placeholder="password" class="form-control" id="password"
                           formControlName="password">
                </div>


                <button type="submit" class="btn btn-secondary" [disabled]="buttonRegister==false"
                        (click)="register()"
                >Register
                </button>

            </form>
        </div>
        <div class="col-md-6">
            <div *ngIf="visible==true">
            </div>
        </div>
    </div>
</div>
<!--</div>-->
