.banner-list-title p{
  padding-left: 5%;
  display: inline;
  font-weight: bold;
  padding-bottom: 1px;
  font-size: 12px;
}
.list-item{
  width: 99%;
  background-color: white;
  height: 40px;
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 0.5%;
}  p{
  padding-left: 5%;
  display: inline;
  font-size: 14px;
  height: auto;
}

