<div class="list-item pt-2">
     <div class="float-left w-50 pl-2 pt-2">
         <p>{{banner?.title}}</p>
     </div>
     <div class="float-right w-50">
         <div class="w-50 d-inline-flex">
             <select [(ngModel)]="banner.status" (ngModelChange)="bannerChanged()" class="form-control select-drop-down">
                 <option *ngFor="let option of statuses" [ngValue]="option.key">{{option.value}}</option>
             </select>
         </div>
         <div class="w-50 d-inline-flex">
             <select [(ngModel)]="banner.category.name" (ngModelChange)="bannerChanged()" class="form-control select-drop-down">
                 <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
             </select>
         </div>
     </div>
</div>
