<app-header></app-header>
<router-outlet></router-outlet>

<div class="panel panel-default border-bottom border-1">
    <div class="panel-heading">
        <div class="panel-title pull-left">
            home
        </div>
        <div class="panel-title pull-right">
            <button class="btn btn-danger"
                    (click)="onClick()">Save all changes</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<app-most-popular-admin></app-most-popular-admin>

<app-footer></app-footer>
