img {
  width: 100%;
  margin-top: 15px;
}

h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  font-variant: small-caps;
}

h4 {
  color: rgb(0, 0, 0);
}

.padding {
  padding-top: 1rem;
}

.round {
  border-radius: 25px;
}

/* Container holding the image and the text */
.container {
  margin-top: 5%;
  margin-left: 30%;
}

.centered {
  position: relative;
  color: rgb(0, 0, 0);
}

.uno {
  position: relative;
}

form {
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.row {
  font-size: 17px;
}

.card-body {
  padding: 20px;
  color: rgb(0, 0, 0);
}

.button {
  border-color: rgb(7, 28, 33);
  border-width: 0.01px;
  color: rgb(7, 28, 33);
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-top: 5%;
  margin-left: 15%;
  cursor: pointer;
  position: relative;
  z-index:0;
}
.btt:hover {
  background-color: rgb(40, 74, 15);
  color: rgb(255, 255, 255);
}
.btt-bad:hover {
  background-color: rgb(183, 28, 28);
  color: rgb(255, 255, 255);
}

#det {
  font-variant: small-caps;
}

body {
  background: #000000;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  margin: 0;
  padding: 10px;
}
h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgba(0, 0, 0, 0.2);
}
a {
  background: #fd264f;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 1em;
  margin: 0;
  padding: 5px 110px;
  position: fixed;
  top: 20px;
  right: -100px;
  text-align: center;
  text-decoration: none;
  transform: rotate(45deg);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 0.7em;
  font-weight: 775;
  line-height: 1em;
  text-align: center;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs [class^="tab"] [type="radio"]:hover,
.tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #fd264f;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  width: 99%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tabs .tab-2 {
  width: 20%;
}

.tabs .tab-2 img {
   width: 105px; /* I took the width from your post and placed it in css */
   height: 105px;
   border-radius: 50%;
}

.tabs .tab-2 [type="radio"] + div {
  width: 400%;
  margin-left: 400%;
}
.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}
.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}
