<div class="messages">
    <div *ngFor="let message of messages">
        <div class="row bg-white message">
            <div class="col-2 mt-3">
                <span class="material-icons" id="success">
                    check_circle
                </span>
            </div>
            <div class="col-10 mt-3">
                <button class="close-btn" (click)="clear(message)">
                    <span class="material-icons">
                        clear
                    </span>
                </button>
                <b>{{message.title}}</b>
                <h4>{{message.text}}</h4>
            </div>
        </div>
    </div>
</div>
