<app-header></app-header>
<app-navigation></app-navigation>

<div class="container">
    <mat-tab-group>
        <form [formGroup]="updateUserForm" name="test">

            <mat-tab label="Personal">
                <div class="example-large-box mat-elevation-z4">
                    <div class="example-container">

                        <div class="form-group image-upload">
                            <label for="file">
                                <img src="https://cdn4.iconfinder.com/data/icons/faces-kit/256/avatar_head_man_portrait_photo_women_afro_africa_black-512.png">
                            </label>
                            <input type="file"
                                   (change)="handleFileInput($event.target.files)"
                                   id="file"
                                   class="upload-input"/>
                        </div>
                        <div>
                            <label>Username</label>
                            <input class="form-control" maxlength="10"
                                   type="text"
                                   formControlName="username"
                                   id="username"
                                   placeholder="{{ user.username }}">
                        </div>
                        <div>
                            <label>Email</label>
                            <input class="form-control"
                                   type="text"
                                   formControlName="email"
                                   id="email"
                                   autocomplete="email"
                                   placeholder="{{ user.email }}">
                        </div>
                        <div class="container">
                            <button type="button" class="btn btn-success" (click)="updateUser()">Update</button>
                            <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
                        </div>
                    </div>
                </div>
            </mat-tab>


            <mat-tab label="Password">
                <div class="example-large-box mat-elevation-z4">
                    <div class="example-container">
                        <div>
<label>old password</label>
                            <input class="form-control"
                                   type="password"
                                   formControlName="password"
                                   id="password"
                                   placeholder="Enter your old password">
                        </div>
                        <div>
                            <label>new password</label>
                            <input class="form-control" onkeyup='checkNames()'
                                   type="password"
                                   formControlName="new_pass"
                                   id="new_pass"
                                   name="new_pass"
                                   placeholder="8+ upper and lowercase letters">
                        </div>
                        <div>
                            <label>new password</label>
                            <input class="form-control" onkeyup='checkNames()'
                                   type="password"
                                   formControlName="new_pass_2"
                                   id="new_pass_2"
                                   name="new_pass_2"
                                   placeholder="Enter new password again">
                            <span id='message'></span>
                        </div>
                        <div class="container">
                            <button type="button" class="btn btn-success" id="password_butt" disabled (click)="updateUser()">Update</button>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="My surveys">
                <div class="example-large-box mat-elevation-z4">
                    survey.text
                </div>
            </mat-tab>

            <mat-tab label="Favourite">
                <div class="example-large-box mat-elevation-z4">
                    <!--  <div class="card-body" *ngFor="let fav of userFav">
                      <div class="row">

                      <div class="col-sm-2 team">
                          <img src="{{ fav.photo }}">
                        </div>
                        <div class="col-sm-2 desc">
                          <h4 id="teamname" class="mb-0">{{fav.name}}</h4>
                        </div>
                        <div class="col-sm-8 desc">
                          <p>{{fav.description}}</p>
                        </div>
                      </div>
                    </div>-->
                </div>
            </mat-tab>

        </form>
    </mat-tab-group>

</div>